.vs-player-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 95vw;
    margin: 0 auto;
}

.vs-playlist-button {
    min-width: 2.5vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    cursor: pointer;
}

.vs-prev-button {
    background-image: url("arrow-left-circle-fill.svg");
    margin-right: 4px;
}

.vs-next-button {
    background-image: url("arrow-right-circle-fill.svg");
    margin-left: 4px;
}

.vs-playlist-status {
    margin-bottom: 8px;
}

.vs-current-sub {
    font: 30px sans-serif;
    margin-top: 8px;
    height: 50px;
}

.vs-vid-panel-container {
    display: flex;
    flex-direction: row;
    height: 75vh;
}

@media screen and (max-width: 800px) {
    .vs-vid-panel-container {
        flex-direction: column;
    }
}

.vs-subs-panel {
    height: 100%;
    overflow-y: auto;
}

.vs-panel-sub {
    margin: 8px;
    border-bottom: dashed grey 1px;
    cursor: pointer;
}

.vs-panel-sub:hover {
    background-color: aliceblue;
}

.vs-panel-current-sub {
    background-color: rgb(150, 201, 246);
}

.video-js {
    height: 100%;
    max-width: 90vw;
}

.vs-player-main-view {
    max-width: 90vw;
}

.vs-highlight {
    color: #facc15;
}

.vs-error {
    color: #f54848;
}