.vs-player-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vs-playlist-button {
    width: 46px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    cursor: pointer;
    margin: 8px;
}

.vs-prev-button {
    background-image: url("arrow-left-circle-fill.svg");
}

.vs-next-button {
    background-image: url("arrow-right-circle-fill.svg");
}

.vs-playlist-status {
    margin-bottom: 8px;
}

.vs-current-sub {
    font: 30px sans-serif;
    margin-top: 8px;
    height: 50px;
}
